@font-face {
	font-family: "Gilroy-Regular"; 
	src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
	font-family: "Gilroy-SemiBold"; 
	src: url(../fonts/Gilroy-SemiBold.ttf);
}
body {
	background: #15262a;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Gilroy-Regular", "verdana";
	background: linear-gradient(90deg, #15262a 20px, transparent 1%) center, linear-gradient(#15262a 20px, transparent 1%) center, #0f1c1b;
	-moz-background: linear-gradient(90deg, #15262a 20px, transparent 1%) center, linear-gradient(#15262a 20px, transparent 1%) center, #0f1c1b;
	-webkit-background: linear-gradient(90deg, #15262a 20px, transparent 1%) center, linear-gradient(#15262a 20px, transparent 1%) center, #0f1c1b;
	-o-background: linear-gradient(90deg, #15262a 20px, transparent 1%) center, linear-gradient(#15262a 20px, transparent 1%) center, #0f1c1b;
	background-size: 22px 22px;
	border-radius: 60px;
}
a{
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
.f-c{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.f-b{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.wrap{
	width: 90%;
	margin: 0 auto;
}
/*main*/
.main{
	margin: 50px;
	text-align: center;
}
.main_title {
	font-size: 36px;
	text-transform: uppercase;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	font-weight: 500;
}
.main_title span {
	font-size: 21px;
	display: block;
	letter-spacing: 4px;
	margin-top: 6px;
	color: #9bbaf3;
}
.main_tg {
	margin: 30px;
	width: 50%;
	margin: 30px auto;
	background: rgb(8 9 18 / 35%);
	padding: 18px;
	border-radius: 10px;
	animation-name: fadeIn;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	animation-duration: 2s;
}
.main_tg_title {
    font-size: 21px;
    text-transform: uppercase;
    font-family: Gilroy-SemiBold;
}
.main_tg_title span {
	font-size: 16px;
	margin: 5px;
	display: block;
	color: #ababab;
	font-family: Gilroy-Regular;
}
.main_tg_btn {
	background: #455397;
	display: block;
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.main_tg_btn:hover {
	background: #654393;
	width: 320px;
}
.main_tg_btn img {
	width: 26px;
	margin-right: 6px;
}
.main_container {
	margin: 40px 0px;
	flex-wrap: wrap;
}
.block {
	width: 550px;
	background: #313548;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
	margin: 20px 10px;
	position: relative;
	border-bottom: 1px solid rgb(255 95 255 / 15%);
	display: block;
	animation-name: fadeIn;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	animation-duration: 2s;
}
.block:before {
	content: "";
/*	background: url(../img/mob_decorate.png); */
	width: 574px;
	height: 40px;
	position: absolute;
	background-size: cover;
	top: -24px;
	left: -2px;
	filter: hue-rotate(-94deg);
	transition: 0.3s;
}
.block_img {
	width: 100%;
}
.block_img img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 0 3px #3e4564;
}
.block_info {
	margin-top: 5px;
}
/*.block_preim{
	margin: 10px 0px;
	padding: 0;
}
.block_preim li {
	list-style: none;
	text-align: left;
	background: #42465a;
	margin: 4px 0px;
	padding: 4px 10px;
	border-radius: 10px;
}
.block_title {
	font-size: 24px;
	display: block;
	color: #ffffff;
}*/
.block_info span {
	background: #c3e539;
	padding: 1px 6px;
	border-radius: 10px;
	color: #000;
	margin: 0px 5px;
}
.block_link {
    background: linear-gradient(-45deg, #455397, #cfe187, #455397);
    padding: 5px;
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    color: #15192a;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(77 0 235 / 25%);
}
.block:hover:before {
	filter: hue-rotate(-316deg) invert(1);
}
.block_link img {
    background: rgb(0 0 0 / 30%);
    width: 56px;
    border-radius: 10px;
    padding: 2px;
}
.main_stream {
	margin: 25px;
	position: fixed;
	z-index: 99;
	left: 25px;
	top: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(0px, -50%);
}
.main_stream_item {
	margin: 10px;
	filter: saturate(0.2);
}
.main_stream_item:hover{
	filter: saturate(1);
}
.main_stream_item img {
	width: 55px;
	border-radius: 50%;
	box-shadow: 0 0 15px 5px rgb(0 0 0 / 25%);
}

footer {
	background: rgb(27 44 44);
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #dfdfdf;
}
.studio_copy {
	margin: 0 auto;
	text-align: center;
	background: rgb(0 0 0 / 30%);
	padding: 5px;
}

.studio_copy img {
	height: 32px;
	opacity: 0.7;
	transition: 0.3s;
}
.studio_copy span {
	position: relative;
	top: -10px;
	font-size: 10px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0.5;
	transition: 0.3s;
}
.studio_copy:hover img{
	opacity: 1;
}
.studio_copy:hover span{
	opacity: 1;
}

/*animation*/
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;							
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 
.main_title{
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}
@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

.main_stream_item{
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 1.8s;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
} 

.block:hover .block_contant .block_link {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/*adaptation*/
@media screen and (max-width: 1440px) {
.block {
    width: 450px;
}
.block:before {
    width: 474px;
    top: -20px;
}
}
@media screen and (max-width: 1210px) {
.block {
    width: 549px;
}
.block:before {
    width: 574px;
    top: -24px;
}
.main_tg {
    width: 70%;
}
}

@media screen and (max-width: 900px) {
.block {
    width: 450px;
}
.block:before {
    width: 474px;
    top: -20px;
}
.main_tg {
    width: 90%;
}
.main_stream {
    margin: 15px;
    position: relative;
    left: 0px;
    top: 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: translate(0px, 0%);
}
.main_title {
    font-size: 26px;
}
.main_title span {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 6px;
}
.main_tg_btn {
	width: auto;
    font-size: 16px;
}
.main_tg_btn:hover {
	width: auto;
}
}

@media screen and (max-width: 680px) {
	.wrap{
		width: 98%;
	}
.main {
    margin: 20px 10px;
}
}
@media screen and (max-width: 560px) {
	.wrap{
		width: 98%;
	}
.main {
    margin: 20px 10px;
}
.block {
    width: 294px;
}
.block:before {
    width: 318px;
    top: -13px;
}
.block_link {
    font-size: 16px;
}
.block_preim li {
    margin: 4px 0px;
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 14px;
}
.main_tg {
    padding: 10px;
}
}
@media screen and (max-width: 360px) {
	.block {
    width: 290px;
    border-radius: 10px;
    margin: 10px;
}
.block:before {
	display: none;
}
}